button {
  border-radius: 6px;
  cursor: pointer;
  
  &:focus {
    outline:0;
  }
}

.search-button {
  width: 12em;
  height: 3em;
  font-size: 20px;
  background: #c4ca20;
  border: 1px solid #c4ca20;
  color: $white;
  border: 0;

  &:hover {
    background: transparent;
    border: 1px solid #fff;
  }
}